$background-primary: #FFFFFF;
$text-primary: #000000;
$text-secondary: #969696;
$text-post-meta: #9B9B9B;
$text-post-text: #929292;
$text-popup-meta: #565656;
$text-popup-text: #7f7f7f;
$color-border: #E9E9E9;
$color-red: #EB0028;
$color-divider: #D7D7D7;
$color-search: #F9F9F9;