.post-list {
  padding: 3rem 0;
  position: relative;

  @include tablet {
    margin-top: 4.5rem;

    &--opensearch {
      margin-top: 7rem;
    }
  }

  @include mobile {
    padding: 1.2rem 0;
  }

  &__content {
    max-width: 75rem;
    padding: 0 1.2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 40px;

    @include mobile {
      gap: 32px;
    }
  }
}
